form {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    width: 400px;
}

form *{
    font-size: 20px;
}

form div {
    display: flex;
    justify-content: space-between;
}

form div input{
    width: 65%;
}