<div class="container">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div>
            <span>Name : </span>
            <input placeholder="chavi" formControlName="name" />
        </div>

        <div>
            <span>Email : </span>
            <input placeholder="ch12345@gmail.com" formControlName="email" />
        </div>

        <div>
            <span>Password : </span>
            <input placeholder="123123" formControlName="password" />
        </div>

        <button [disabled]="formGroup.invalid">Log In</button>
    </form>
</div>