header {
    background-color: var(--third-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header div {
    font-size: 40px;
    transform: rotate(-10deg);
    background: linear-gradient(15deg, white, #d99d19);
    background-clip: text;
    color: transparent;
}

header app-header {
    width: 30%;
}