@media (min-width:576px) {

    /* Header */
    header nav {
        display: block;
    }

    #humburger {
        display: none;
    }

    /* Main */
    .auth-container {
        min-height: 600px;
    }

    .description h2 {
        text-align: left;
    }

    .description h2 span {
        display: inline-block;
    }

    .home-container p:nth-last-child(1) {
        padding-top: 80px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }

    header nav {
        width: 85%;
    }

    header nav ul {
        font-size: 22px;
    }

    header nav ul li {
        margin: 0 10px;
    }

    /* Main */
    .auth-container {
        justify-content: space-between;
    }

    .description {
        padding: 0 50px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }

    /* Header */
    header nav ul {
        font-size: 25px;
    }

    /* Main */
    .auth-container {
        flex-direction: row;
    }

    .auth-container form {
        margin-bottom: 0;
        width: 30%;
        flex-grow: 1;
    }

    .description {
        width: 50%;
        border-left: 3px solid var(--third-color);
        border-top: none;
    }

    .home-container {
        font-size: 25px;
    }
}

@media (min-width:1200px) {

    /* Header */
    .container {
        max-width: 1140px
    }

    header nav ul {
        font-size: 28px;
    }

    header nav ul li {
        padding: 8px 10px;
    }

    /* Main */
    .home-container {
        font-size: 30px;
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1320px
    }

    /* Header */
    header nav {
        width: 70%;
    }

    header nav ul {
        font-size: 30px;
    }

    header nav ul li {
        padding: 8px 20px;
    }

    /* Main */
    .description {
        width: 60%;
        font-size: 30px;
    }
}