<!-- 
+----+----------------+---------------------+--------+---------+-----------+
| ID | Username       | Email               | Role   | Date Registered     |
+----+----------------+---------------------+--------+---------+-----------+
| 1  | admin_user     | admin@example.com   | admin  | 2023-01-01          |
| 2  | regular_user1  | user1@example.com   | user   | 2023-02-15          |
| 3  | regular_user2  | user2@example.com   | user   | 2023-03-10          |
+----+----------------+---------------------+--------+---------+-----------+ 
-->
<div>
    <p>
        <span>ID </span>
        <span>Username </span>
        <span>Email </span>
        <span>Date Registered </span>
    </p>
    @for(user of users;track user.id){
    <p>
        <span>{{user.id}} </span>
        <span>{{user.name}} </span>
        <span>{{user.email}} </span>
        <span>{{user.createdAt|date:'dd/MM/yy'}} </span>
    </p>
    }
</div>
<div>
    @if(!showNewUserForm){
    <button (click)="openNewUserForm()">Add User</button>
    }
    @else {
    <app-add-user></app-add-user>
    }
</div>