<div>
    <p>
        <span>ID </span>
        <span>User Name </span>
        <span>Email </span>
        <span>Last Update </span>
    </p>
    @for(user of users;track user.id){
    <p>
        <span>{{user.id}}</span>
        <span>{{user.name}}</span>
        <span>{{user.email}}</span>
        <span>{{user.updatedAt|date:'dd/MM/yyyy'}}</span>
        <button (click)="editUser(user.id)">Edit</button>
        <button (click)="deleteUser(user.id)">Delete</button>
    </p>
    }
</div>
<div>
    @if(!showNewUserForm){
    <button (click)="openNewUserForm()">Add User</button>
    }
    @else {
    <app-add-user (onUserAdd)="addUser($event)"></app-add-user>
    }
</div>
<div>
    @if(userToEdit)
    {
    <app-user-details [user]="userToEdit" (onUserUpdate)="saveEditedUser($event)">
        <button>Edit User</button>
    </app-user-details>
    }
</div>