<div>
    <p>
        <span>ID </span>
        <span>User Name </span>
        <span>Email </span>
        <span>Date Registered </span>
    </p>
    @for(user of users;track user.id){
    <p>
        <input [value]="user.id" [disabled]="!user.canBeEdit" />
        <input [value]="user.name" [disabled]="!user.canBeEdit" />
        <input [value]="user.email" [disabled]="!user.canBeEdit" />
        <input [value]="user.createdAt|date:'dd/MM/yyyy'" [disabled]="!user.canBeEdit" />
        <button (click)="editUser(user)">Edit</button>
        <button>Delete</button>
    </p>
    }
</div>
<div>
    @if(!showNewUserForm){
    <button (click)="openNewUserForm()">Add User</button>
    }
    @else {
    <app-add-user (onUserAdd)="addUser($event)"></app-add-user>
    }
</div>