/*    General    */
:root {
  --first-color: #d99d19;
  --second-color: white;
  --third-color: rgb(6, 91, 115);
}

::selection {
  background-color: #d99c1990;
}

body {
  margin: 0;
}

.container {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

button {
  background-color: var(--third-color);
  border: 1px solid var(--first-color);
  border-radius: 5px;
  padding: 5px 10px;
  color: var(--first-color);
}


/*    Header    */
header {
  background-color: var(--third-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header div {
  font-size: 40px;
  transform: rotate(-10deg);
  background: linear-gradient(15deg, white, #d99d19);
  background-clip: text;
  color: transparent;
}

header nav {
  width: 70%;
}

header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  font-size: 30px;
}

header nav ul li {
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid var(--second-color);
  background-color: var(--first-color);
}

header nav ul li a {
  text-decoration: none;
  color: white;
  transition: all .2s;
}

header nav ul li a:hover {
  color: var(--third-color);
}