/*    General    */
:root {
  --header-height: 105px;
  --first-color: #d99d19;
  --second-color: white;
  --third-color: rgb(6, 91, 115);
  font-family: "Calibri";
}

::selection {
  background-color: var(--first-color);
  color: var(--third-color);
}

body {
  margin: 0;
}

.container {
  max-width: 540px;
  margin: 0 auto;
}

button,
.custom-upload-file {
  background-color: var(--third-color);
  border: 1px solid var(--first-color);
  border-radius: 5px;
  padding: 5px 30px;
  color: var(--first-color);
  font-size: 20px;
  cursor: pointer;
}

button:hover,
.custom-upload-file:hover {
  --third-color: #d99d19;
  --first-color: rgb(6, 91, 115);
}

/*    Header    */
header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  height: var(--header-height);
  display: flex;
  align-items: center;
  background-color: var(--third-color);
  position: fixed;
}

header .container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

header img {
  max-width: 90px;
  border-radius: 50%;
}

#humburger {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #d99d19;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#humburger::before,
#humburger::after {
  content: "";
}

#humburger div,
#humburger::before,
#humburger::after {
  display: inline-block;
  height: 2.5px;
  width: 45%;
  background-color: black;
  margin: 2px 0;
}

header nav {
  display: none;
  width: 90%;
}

header nav ul {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: end;
  list-style: none;
  padding: 0;
  font-size: 20px;
}

header nav ul li {
  padding: 8px 5px;
  margin: 0 2.5px;
  border-radius: 10px;
  border: 1px solid var(--second-color);
  background-color: var(--first-color);
}

header nav ul li a {
  text-decoration: none;
  color: white;
  transition: all .2s;
}

header nav ul li a:hover {
  color: var(--third-color);
}

/*          Main           */
main {
  padding-top: var(--header-height);
}

.auth-container {
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.auth-container form {
  margin-bottom: 20px;
}

.auth-container form div {
  height: 70px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  padding: 5px 0;
  position: relative;
}

.auth-container form label::after {
  content: '*';
  color: red;
  padding-left: 3px;
}

.error {
  color: red;
}

.description {
  width: 90%;
  font-size: 20px;
  border-top: 3px solid var(--third-color);
}

.description h2 {
  text-align: center;
}

.description h2 span {
  display: block;
}

.home-container {
  width: fit-content;
  padding: 0 20px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.6;
}

.home-container ul {
  list-style: none;
}

.home-container li {
  padding: 10px 0;
}

.home-container p:nth-last-child(1) {
  padding-top: 50px;
}

/*      Files       */
.file {
  min-height: 500px;
  max-height: 800px;
  width: 650px;
  padding: 25px;
  background-color: rgb(226, 229, 232);
  box-shadow: 0 0 10px gray;
  display: flex;
  justify-content: center;
}

.file p {
  max-width: 550px;
  line-break: anywhere;
  line-height: 2;
}

/*    Popups     */
.overlay {
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d99c198d;
}

.popup {
  position: fixed;
  z-index: 9;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  padding: 25px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

input {
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
}

.upload-file-form {
  height: 300px;
}

.upload-file-form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="file"] {
  display: none;
}